<div class="container is-fluid">
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/home">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" class="logo" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a *ngIf="authService.isAuthenticated()" href="/home" class="navbar-item">
            Home
          </a>
          <a *ngIf="authService.isAuthenticated()" href="/genres" class="navbar-item">
            Game genres
          </a>
    
         
    
         
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a *ngIf="authService.isAuthenticated()" class="button is-light" (click)="logout()">
                Log out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>  